<%- include('./layouts/header')%>
<%- include('./layouts/navbar') %>
   
   <div class="showcase">
        <h1>Welcome to Express <span class="green-text">Diary</span></h1>
        <p>Keep Recording Your Everyday Moments!</p>
        <a href="/express-diary/diary">Open Your Express Diary</a>

    </div>

<%- include('./layouts/footer') %>
