<header>
    <div class="container">
        <a href="/express-diary" class="logo">EXPRESS <span class="green-text">DIARY</span></a>

        <nav>
            <ul>
                <li><a href="/express-diary">Home</a></li>
                <li><a href="/express-diary/about">About</a></li>
                <li><a href="/express-diary/diary">Go to Diary</a></li>
            </ul>
        </nav>
    </div>
</header>