<%- include('./layouts/header') %>
<%- include('./layouts/navbar') %>
    <div class="showcase">
        <h1>About <span class="green-text">Express Diary</span></h1>
        <p>A Simple App Made With Express</p>
        <p>Version 1.0</p>

    </div>

<%- include('./layouts/footer') %>
